<form class="form">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="txtFrom" i18n>Текст для перевода</label>
                <textarea class="form-control"
                        name="txtFrom"
                        (input)="doTranslate()"
                        rows="20">
                        {{ txtFrom }}
                </textarea>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="txtTo" i18n>Текст для перевода</label>
                <textarea class="form-control"
                        name="txtTo"
                        (update)="doTranslate"
                        rows="20">
                        {{ txtTo | async }}
                </textarea>
            </div>
        </div>
    </div>
</form>
